@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #465643;
  --color-secondary: #fffdf6;
  --font-ivy-light: var(--font-ivy-presto-headline);
  --font-neue-haas: var(--font-neue-haas-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: var(--font-neue-haas-display);
}

/* Push Over Nav Styles */
.content-container {
  will-change: transform;
}

.line {
  position: relative;
  will-change: transform;
}
